@charset "utf-8";
/* CSS Document */

body {
    background-color: white;  /* background color */
      color: saddlebrown;        /* text color */
      font-size: 12px;
      font-family:Verdana, Geneva, sans-serif;
}

#wrapper {
    border: dotted 2px; border-color: saddlebrown;
	width:800px;
      margin:0 auto;      /* centers wrapper */
      background: antiquewhite;  /* background color */
      text-align:center;  /* centers wrapper content */
}

img {border-radius: 20px; box-shadow: 0 4px 8px antiquewhite, 0 6px 20px saddlebrown; }

h2, h3 { 
	text-align:center; /* centers h1 and h2 content */
	background-color: floralwhite;
	color: antiquewhite;
	border:1px dotted saddlebrown; border-radius: 20px;
}