@charset "utf-8";
/* CSS Document */


body {
	text-align: center;
 
	background-image: url("../images/classroombg2.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-position:center;
	color: black;          
	font-size: 16px;
}

#wrapper {
	width: 1050px;
	margin:0 auto;    /* centers wrapper */
	background-color: whitesmoke;
	border: 1px solid saddlebrown;
}

#wrapper2 {
	width: 1050px;
	height:680px;
	margin:0 auto;    /* centers wrapper */
	background-color: whitesmoke;
	border: 1px solid saddlebrown;
}
#wrapper3 {
	width: 1050px;
	height:740px;
	margin:0 auto;    /* centers wrapper */
	background-color: whitesmoke;
	border: 1px solid saddlebrown;
}

h1{
	color:saddlebrown;
	background-color: whitesmoke;
	border:1px solid saddlebrown;
	padding: 1px;
	
}

a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  whitesmoke; 
	color:  saddlebrown;
	border: solid; 
	
}

a:hover {
	
	background-color: antiquewhite; 
	color: black; 
	
}

a:visted { font-color: orange; 

}

.information{ 
	
	background-color: whitesmoke;
	color: black; 
	padding:7px;
	font-size:20px; 
	display: flex;
	justify-content: center;

}

img {border-radius: 20px; box-shadow: 0 4px 8px 
	antiquewhite, 0 6px 20px saddlebrown; 
}

.subtitle{
	border: 1px solid black;
	padding:7px;
	text-align:left;
	font-size:16px; 
	color: black; 
	background-color: antiquewhite;
	justify-content: center;
 }


.stepContent{ 
	border: 1px solid black;
	background-color: whitesmoke;
	color: black; 
	padding:7px;
	font-size:12px; 
	display: flex;
	justify-content: left;

}

#fullbibliography {
	border: saddlebrown 2px dotted;
	width: 70%;
	height: auto;

}
#fullbibliographyinfo {
	display: none; 
	border: saddlebrown 2px dotted; 
	width: 70%;
	height: auto;
}


