@charset "utf-8";
/* CSS Document */


body {
	text-align: center;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url("../images/classroombg2.jpg"); background-repeat: no-repeat;
  	background-attachment: fixed;
}

h1 {
	color:saddlebrown;
	background-color: whitesmoke;
	border:1px solid black;
}

a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  whitesmoke; 
	color:  saddlebrown; 
	border: solid; 
	
}

a:hover {
	
	background-color: yellow; 
	color: darkorange; 
	
}

a:visted { font-color: orange; 
	
}