@charset "utf-8";
/* CSS Document */


body {
	text-align: center;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url("../lab1/img/classroom.jpg"); background-repeat: no-repeat;
  	background-attachment: fixed;
}



a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  whitesmoke; 
	color:  saddlebrown; 
	
}

a:hover {
	
	background-color: cornflowerblue; 
	color: black; 
	style: underline; 
}

a:visted { font-color: orange; 
	
}