@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url"../images/peeking.png";
}

a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  whitesmoke; 
	color:  black; 
	
}

a:hover {
	font-size:200%;
	background-color: cornflowerblue; 
	color: black; 
	style: underline; 
}

a:visted { color: dimgray; 
	
}
