/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-image: url("img/classroombg2.jpg"); background-repeat: no-repeat;
  background-attachment: fixed; background-size: cover;  /* background color */
	color: black;          /* text color for the entire page */
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
img {border-radius: 20px; box-shadow: 0 4px 8px gray, 0 6px 20px gray;}

h1, h2 { 
	text-align:center; /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 1000px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:7px;
	text-align:left;
	font-size:16px; 
	color: black; 
	background-color: #8CC6DC
 }

.stepContent{ 
	background-color: #D0D0D0;
	color: black; 
	padding:7px;
	font-size:12px; 
	display: flex;
	justify-content: left;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: left;
}



